<a href="https://colab.research.google.com/github/rajivsam/cmi_count_data_modeling/blob/asif_ikbal_26_07_2021/customers_per_hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Dataset- https://archive.ics.uci.edu/ml/datasets/online+retail

In [ ]:
## Dataset https://archive.ics.uci.edu/ml/datasets/online+retail
## Loading the data
path='https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx'
data=pd.read_excel(path)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
# Dropping all transactions with unregistered customers--- Identified by the Nan values in CustomerID column
data.dropna(subset=['CustomerID'],inplace=True)

In [ ]:
data.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [ ]:
# Cancelled Transactions
data.loc[data['InvoiceNo'].str.match(r'^C.*')==True]

       InvoiceNo StockCode  ... CustomerID         Country
141      C536379         D  ...    14527.0  United Kingdom
154      C536383    35004C  ...    15311.0  United Kingdom
235      C536391     22556  ...    17548.0  United Kingdom
236      C536391     21984  ...    17548.0  United Kingdom
237      C536391     21983  ...    17548.0  United Kingdom
...          ...       ...  ...        ...             ...
540449   C581490     23144  ...    14397.0  United Kingdom
541541   C581499         M  ...    15498.0  United Kingdom
541715   C581568     21258  ...    15311.0  United Kingdom
541716   C581569     84978  ...    17315.0  United Kingdom
541717   C581569     20979  ...    17315.0  United Kingdom

[8905 rows x 8 columns]

In [ ]:
## Dropping all the cancelled transactions. For an InvoiceNo xxxxx, if it is cancelled in a later time, there is another entry as InvoiceNo Cxxxxx. Only rows with Cxxxxx dropped but rows with xxxxx is retained.
index_cancelled=data.loc[data['InvoiceNo'].str.match(r'^C.*')==True].index
data.drop(index=index_cancelled,inplace=True)

In [ ]:
data.loc[data.Quantity<0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [ ]:
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[397924 rows x 8 columns]

In [ ]:
data.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [ ]:
#Changing CustomerID to int
data['CustomerID']= data['CustomerID'].astype(int)

In [ ]:
data.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

In [ ]:
## Creating Date and Hour columns from the timestamp InvoiceDate
## Here Hour is the truncated time of the day. if the time is hh:mm:ss, Hour is hh only.
data['Date']=[d.date() for d in data['InvoiceDate']]
data['Hour']=[d.hour for d in data['InvoiceDate']]

In [ ]:
data

       InvoiceNo StockCode  ...        Date  Hour
0         536365    85123A  ...  2010-12-01     8
1         536365     71053  ...  2010-12-01     8
2         536365    84406B  ...  2010-12-01     8
3         536365    84029G  ...  2010-12-01     8
4         536365    84029E  ...  2010-12-01     8
...          ...       ...  ...         ...   ...
541904    581587     22613  ...  2011-12-09    12
541905    581587     22899  ...  2011-12-09    12
541906    581587     23254  ...  2011-12-09    12
541907    581587     23255  ...  2011-12-09    12
541908    581587     22138  ...  2011-12-09    12

[397924 rows x 10 columns]

In [ ]:
## Columns of our interest
dateTimeData=data[['CustomerID','Date','Hour']]

In [ ]:
## Counting number of customers in a particular Date and Hour
table=dateTimeData.groupby(['Date','Hour']).agg({"CustomerID": "nunique"})

In [ ]:
## Converting grouped object to DataFrame
tab2=pd.DataFrame(table.reset_index())

In [ ]:
## Creating the required DataFrame with columns Date, Count1, Count2,...Count24.
## Counti represents the time between hour i-1(inclusive) and i(exclusive)
colNames=['Date']
colNames.extend(['Count'+str(k+1) for k in range(24)])
newDf=pd.DataFrame(columns=colNames)
for date in set(tab2['Date']):
  tab3=tab2[tab2['Date']==date][['Hour','CustomerID']]
  newRow=[date]
  newRow.extend([0 for k in range(24)])
  for hr in tab3['Hour']:
    newRow[int(hr)+1]=int(tab3[tab3['Hour']==hr]['CustomerID'])
  #print(pd.DataFrame([newRow],columns=colNames))
  newDf=newDf.append(pd.DataFrame([newRow],columns=colNames),ignore_index=True)

In [ ]:
newDf=newDf.sort_values(by=['Date']).reset_index()

In [ ]:
newDf=newDf.drop('index',axis=1)

In [ ]:
newDf

           Date Count1 Count2 Count3  ... Count21 Count22 Count23 Count24
0    2010-12-01      0      0      0  ...       0       0       0       0
1    2010-12-02      0      0      0  ...       0       0       0       0
2    2010-12-03      0      0      0  ...       0       0       0       0
3    2010-12-05      0      0      0  ...       0       0       0       0
4    2010-12-06      0      0      0  ...       0       0       0       0
..          ...    ...    ...    ...  ...     ...     ...     ...     ...
300  2011-12-05      0      0      0  ...       0       0       0       0
301  2011-12-06      0      0      0  ...       0       0       0       0
302  2011-12-07      0      0      0  ...       0       0       0       0
303  2011-12-08      0      0      0  ...       1       0       0       0
304  2011-12-09      0      0      0  ...       0       0       0       0

[305 rows x 25 columns]

In [ ]:
newDf.to_csv('customers_per_hour.csv',index=False)

Data description- https://github.com/rajivsam/cmi_count_data_modeling/blob/asif_ikbal_26_07_2021/customers_per_hour_desc.txt